.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-left-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: color 0.3s linear, background 1s linear;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 0;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  transition: color 0.2s ease;
}
a {
  font-weight: bold;
  color: #2c3e50;
}
a.router-link-exact-active {
  color: #42b983;
}
.ivu-menu-item:hover {
  text-decoration: none;
}
.ivu-dropdown-menu {
  margin-bottom: 0;
}
.ivu-tag,
.ivu-input,
.ivu-timeline-item-head,
.ivu-collapse-header,
.ivu-collapse-content,
textarea {
  background: none !important;
}
.ivu-timeline-item-head {
  border-width: 6.5px;
}
input,
textarea {
  outline: none !important;
  color: inherit;
}
.ivu-card,
.ivu-collapse,
.ivu-page-prev,
.ivu-page-item,
.ivu-input,
.ivn-btn,
.ivu-page-next {
  border: none !important;
}
.ivu-collapse-header {
  border-radius: 4px 4px 0 0 !important;
}
::-webkit-input-placeholder,
.ivu-collapse-header {
  /* WebKit browsers */
  color: inherit !important;
}
